{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>My Django App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'articles/css/style.css' %}">
    <script src="{% static 'articles/js/script.js' %}"></script>

    <link rel="stylesheet" href="{% static 'articles/css/bootstrap.min.css' %}">
</head>
<body>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Заголовок модального вікна -->
                <div class="modal-header">
                    <h5 class="modal-title" id="contactModalLabel">Contact Us</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Вміст модального вікна -->
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contactModal">
        Contact Us
    </button>

    <!-- Підключення скриптів Bootstrap та jQuery -->
    <script src="{% static 'articles/js/jquery.min.js' %}"></script>
    <script src="{% static 'articles/js/bootstrap.min.js' %}"></script>
</body>
</html>

